<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tipr - sign in</title>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/base-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/buttons-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/forms-nr-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/grids-nr-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/menus-nr-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.4.2/tables-min.css">

    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/Tipr/web/css/main2.css">
</head>
<body class="pure-skin-tipr signin">
<div class="wrapper">
    <h1><a href="index.html">Tipr</a> sign in</h1>

    <form class="pure-form" role="form" action="{{ path('tipr_application_loginRecipientProcess') }}" {{ form_enctype(form) }} method="post" novalidate="novalidate">
        <fieldset class="pure-group">
            {{ form_widget(form.username, {'attr': {'class': 'pure-input', 'placeholder' : 'Username' }}) }}
            {{ form_errors(form.username) }}

            {{ form_widget(form.code, {'attr': {'class': 'pure-input' , 'placeholder' : 'PIN code' }}) }}
            {{ form_errors(form.code) }}
        </fieldset>

        {{ form_widget(form.send,{'attr' : {'class' : 'pure-button pure-input pure-button-primary', 'label' : 'Sign in' }}) }}
        {{ form_widget(form._token) }}
    </form>
</div>
</body>
</html>