{% extends "TiprApplicationBundle:Base:authentication.html.twig" %}

{% set title = 'Register' %}

{% block pageContent %}
    <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <div data-theme="a" data-form="ui-body-a"
             class="ui-body ui-body-a ui-corner-all tipr-header tipr-separate tipr-image">
            <div class="overlay">
                <div class="userinfo">
                    <h1>Register</h1>
                </div>
                <img src="http://lorempixel.com/400/300" alt="profile"/>
            </div>
        </div>
        <div data-theme="a" data-form="ui-body-a" class="ui-body ui-body-a ui-corner-all tipr-separate">
            <form class="form-horizontal" role="form"
                  action="{{ path('tipr_application_registerDonatorProcess') }}" {{ form_enctype(form) }} method="post"
                  data-ajax="false"
                  novalidate="novalidate">
                {{ form_widget(form.username, {'attr': {'placeholder': 'Username' }}) }}
                {{ form_errors(form.username) }}

                {{ form_widget(form.birthDate, {'attr': {'placeholder': 'Birthdate' }}) }}
                {{ form_errors(form.birthDate) }}

                {{ form_widget(form.documentNumber, {'attr': {'placeholder': 'Document Number' }}) }}
                {{ form_errors(form.documentNumber) }}

                {{ form_widget(form.code, {'attr': {'placeholder': 'PIN' }}) }}
                {{ form_errors(form.code) }}

                {{ form_widget(form.send) }}

                {{ form_widget(form._token) }}
            </form>
        </div>

    </div>
{% endblock %}