{% extends "TiprApplicationBundle:Base:layout.html.twig" %}

{% set title = 'Overview' %}

{% block pageContent %}
    <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <div class="ui-grid-b ui-corner-all">
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-a">Today<br/></div>
                <div class="ui-body ui-body-a">&#8364; {{ totalToday | number_format(2, ',') }}</div>
            </div>
            <div class="ui-block-b">
                <div class="ui-bar ui-bar-a">Week<br/></div>
                <div class="ui-body ui-body-a">&#8364; {{ totalWeek | number_format(2, ',') }}</div>
            </div>
            <div class="ui-block-c">
                <div class="ui-bar ui-bar-a">Month</div>
                <div class="ui-body ui-body-a">&#8364; {{ totalMonth | number_format(2, ',') }}</div>
            </div>
        </div>

        <div data-theme="a" data-form="ui-body-a" class="ui-body ui-body-a ui-corner-all tipr-separate tipr-header">
            <div id="chart-donator"></div>
        </div>

        <ul id="chart-data">
            {% for day,amount in donationsThisWeek %}
                <li data-day="{{ day }}" data-amount="{{ amount }}"></li>
            {% endfor %}
        </ul>

        <h2>Recent donations</h2>
        <ul data-role="listview" data-count-theme="b" data-inset="true">
            {% for donation in donations %}
                <li>{{ donation.recipient.username }} <span class="ui-li-count">&#8364; {{ donation.amount | number_format(2, ',') }}</span></li>
            {% endfor %}
        </ul>
    </div><!-- /content -->
{% endblock %}

